<% include partials/header %>
    <form action="/movies" method="GET">
        <input type="text" name="search" placeholder="Movie's name"> <br>
        <button type="submit">OK</button>
    </form>

<% include partials/footer %>